name: Backend CI/CD

on:
  push:
    branches: [ "main" ]

jobs:
  build-scan-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build Docker image
        run: |
          docker build -t backend:latest .

      - name: Tag image
        run: |
          docker tag backend:latest ${{ secrets.ECR_URI }}:${{ github.sha }}

      - name: Push image
        run: |
          docker push ${{ secrets.ECR_URI }}:${{ github.sha }}

      - name: Scan with Trivy
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ secrets.ECR_URI }}:${{ github.sha }}
          exit-code: '0'
          format: table
